In [ ]:
import tkinter as tk
import time
import csv
import pandas as pd
import math

a = 0

#   record file to access the income and pay rate of the previous day (csv)
file = pd.read_csv('/Users/minhpham/Desktop/Work/Python/clock_in/record.csv')
df = pd.DataFrame(file).values
asset = float((df.item(-1)))
pay_rate = float((df.item(-2)))

root = tk.Tk()


def clockin():

    global clock_in, a, asset, pay_rate, label2, label4, label5, label6, label7, label8

    password = "Epsilon5"

    if a % 2 == 0:
        mdp = entry.get()
        clock_in = time.time()
        label2 = tk.Label(text="")
        label2.pack()
        if str(mdp) == str(password):
            label4 = tk.Label(text="You clock in at " + time.ctime())
            label4.pack()
            label5 = tk.Label(text="Your total asset value is $" + str(round(asset, 2))
                                    + ", your pay rate today is $" + str(round(pay_rate, 2)))
            label5.pack()

            #   log book for recording hours and pay rate (easier for human to read)
            f = open("/Users/minhpham/Desktop/Work/Python/clock_in/book_keeping.txt", "a")
            f.write("\n\n" + time.ctime())
            f.write("\nStart time:    " + time.ctime())

            f.close()

            a += 1

    else:
        mdp = entry.get()
        if str(mdp) == str(password):
            label6 = tk.Label(text="You clock out at " + time.ctime())
            label6.pack()

            clock_out = time.time()
            time_elapse = clock_out - clock_in
            hours = math.floor(time_elapse / 3600)
            minutes = (time_elapse / 60) - (hours * 60)

            wage = pay_rate * (time_elapse / 3600)

            label7 = tk.Label(text="You've worked for " + str(round(hours)) + " hours and " + str(round(minutes)) +
                                   " minutes and earned $" + str(round(wage, 2)))
            label7.pack()

            pay_rate = pay_rate * math.pow(1.0024, ((time_elapse / 3600) / 8))

            label8 = tk.Label(text="Your total asset value is $" + str(round(asset, 2))
                            + ", your pay rate today is $" + str(round(pay_rate, 2)))
            label8.pack()

            asset = asset + wage

            #   entry in log book

            f = open("/Users/minhpham/Desktop/Work/Python/clock_in/book_keeping.txt", "a")

            f.write("\nEnd time:    " + time.ctime())
            f.write("\nTotal work time:    " + str(round(hours)) + " hours " + str(round(minutes))
                    + " minutes")
            f.write("\nMoney earned:    $" + str(round(wage, 2)))
            f.write("\nPay rate:    $" + str(pay_rate))
            f.write("\nOwned:    $" + str(round(asset, 2)))

            f.close()

            #   entry in record book
            with open('/Users/minhpham/Desktop/Work/Python/clock_in/record.csv', "a") as file:
                writer = csv.writer(file)
                writer.writerow({float(pay_rate)})
                writer.writerow({asset})
                file.close()

            a += 1


label1 = tk.Label(text="Please clock in")
entry = tk.Entry()
button = tk.Button(root, text="Enter", command=clockin)


def delete():
    label2.pack_forget()
    label4.pack_forget()
    label5.pack_forget()
    label6.pack_forget()
    label7.pack_forget()
    label8.pack_forget()


label1.pack()
entry.pack()
button.pack()
button_delete = tk.Button(root, text="Delete", command=delete)
button_delete.pack()
root.mainloop()

print("Program stopped")

In [10]:
import tkinter as tk
import time
import csv
import pandas as pd
import math

a = 0

#   record file to access the income and pay rate of the previous day (csv)
file = pd.read_csv('/Users/minhpham/Desktop/Work/Python/clock_in/record.csv')
df = pd.DataFrame(file).values
asset = float((df.item(-1)))
pay_rate = float((df.item(-2)))

root = tk.Tk()

def clockin():
    
    global clock_in, clock_out, time_elapse, hours, minutes, wages, pay_rate, time_elapse
    
    password = "Epsilon5"
    
    if a%2 == 0:  
        if str(entry.get()) == password:
            clock_in = time.time()
            
            #   log book for recording hours and pay rate (easier for human to read)
            f = open("/Users/minhpham/Desktop/Work/Python/clock_in/book_keeping.txt", "a")
            f.write("\n\n" + time.ctime())
            f.write("\nStart time:    " + time.ctime())

            f.close()
            
            label5.grid_forget(row = 4)  # Turn off clockout label
            label6.grid_forget(row = 5)
            label7.grid_forget(row = 6)

            label3.grid(row = 4)  # Turn on clockin labels
            label4.grid(row = 5)
            
            a += 1
        
    else:        
        if str(entry.get()) == password:  
            clock_out = time.time()
            time_elapse = clock_out - clock_in
            hours = math.floor(time_elapse / 3600)
            minutes = (time_elapse / 60) - (hours * 60)

            wage = pay_rate * (time_elapse / 3600)

            asset = asset + wage

            #   entry in log book

            f = open("/Users/minhpham/Desktop/Work/Python/clock_in/book_keeping.txt", "a")

            f.write("\nEnd time:    " + time.ctime())
            f.write("\nTotal work time:    " + str(round(hours)) + " hours " + str(round(minutes))
                    + " minutes")
            f.write("\nMoney earned:    $" + str(round(wage, 2)))
            f.write("\nPay rate:    $" + str(pay_rate))
            f.write("\nOwned:    $" + str(round(asset, 2)))

            f.close()

            #   entry in record book
            with open('/Users/minhpham/Desktop/Work/Python/clock_in/record.csv', "a") as file:
                writer = csv.writer(file)
                writer.writerow({float(pay_rate)})
                writer.writerow({asset})
                file.close()
        
            label3.grid_forget()  # Turn off clockin label
            label4.grid_forget()

            label5.grid(row = 4)  # Turn on clockout label
            label6.grid(row = 5)
            label7.grid(row = 6)
            
            a += 1
            
def all_labels():
    label1 = tk.Label(text="Please clock in")
    label1.grid(row = 0)

    label2 = tk.Label(text="")
    label2.grid_forget()

    label3 = tk.Label(text="You clock in at " + time.ctime())
    label3.grid_forget()

    label4 = tk.Label(text="Your total asset value is $" + str(round(asset, 2))
                                + ", your pay rate today is $" + str(round(pay_rate, 2)))
    label4.grid_forget()

    label5 = tk.Label(text="You clock out at " + time.ctime())
    label5.grid_forget()

    label6 = tk.Label(text="You've worked for " + str(round(hours)) + " hours and " + str(round(minutes)) +
                      " minutes and earned $" + str(round(wage, 2)))
    label6.grid_forget()

    label7 = tk.Label(text="Your total asset value is $" + str(round(asset, 2))
                                + ", your pay rate today is $" + str(round(pay_rate, 2)))
    label7.grid_forget()

entry = tk.Entry()
entry.grid(row = 1)

button = tk.Button(root, text="Enter", command=clockin)
button.grid(row = 2)

NameError: name 'hours' is not defined

In [6]:
import tkinter as tk
import time
import csv
import pandas as pd
import math

a = 0

#   record file to access the income and pay rate of the previous day (csv)
file = pd.read_csv('/Users/minhpham/Desktop/Work/Python/clock_in/record.csv')
df = pd.DataFrame(file).values
asset = float((df.item(-1)))
pay_rate = float((df.item(-2)))

root = tk.Tk()


def clockin():

    global clock_in, a, asset, pay_rate, label2, label4, label5, label6, label7, label8

    password = "Epsilon5"
        
    if a == 0:
        
        mdp = entry.get()
        clock_in = time.time()
        label2 = tk.Label(text="")
        label2.pack()
        if str(mdp) == str(password):
            label4 = tk.Label(text="You clock in at " + time.ctime())
            label4.pack()
            label5 = tk.Label(text="Your total asset value is $" + str(round(asset, 2))
                                    + ", your pay rate today is $" + str(round(pay_rate, 2)))
            label5.pack()

            #   log book for recording hours and pay rate (easier for human to read)
            f = open("/Users/minhpham/Desktop/Work/Python/clock_in/book_keeping.txt", "a")
            f.write("\n\n" + time.ctime())
            f.write("\nStart time:    " + time.ctime())

            f.close()

            a += 1
        
    elif (a%2 == 0) & (a > 0):
        
        label2.pack_forget()
        label4.pack_forget()
        label5.pack_forget()
        label6.pack_forget() # Turn off clock out
        label7.pack_forget()
        label8.pack_forget()
        
        mdp = entry.get()
        clock_in = time.time()
        label2 = tk.Label(text="")
        label2.pack()
        if str(mdp) == str(password):
            label4 = tk.Label(text="You clock in at " + time.ctime())
            label4.pack()
            label5 = tk.Label(text="Your total asset value is $" + str(round(asset, 2))
                                    + ", your pay rate today is $" + str(round(pay_rate, 2)))
            label5.pack()

            #   log book for recording hours and pay rate (easier for human to read)
            f = open("/Users/minhpham/Desktop/Work/Python/clock_in/book_keeping.txt", "a")
            f.write("\n\n" + time.ctime())
            f.write("\nStart time:    " + time.ctime())

            f.close()

            a += 1

    elif a%2 == 1:
        
        mdp = entry.get()
        if str(mdp) == str(password):
            label6 = tk.Label(text="You clock out at " + time.ctime())
            label6.pack()

            clock_out = time.time()
            time_elapse = clock_out - clock_in
            hours = math.floor(time_elapse / 3600)
            minutes = (time_elapse / 60) - (hours * 60)

            wage = pay_rate * (time_elapse / 3600)

            label7 = tk.Label(text="You've worked for " + str(round(hours)) + " hours and " + str(round(minutes)) +
                                   " minutes and earned $" + str(round(wage, 2)))
            label7.pack()

            pay_rate = pay_rate * math.pow(1.0024, ((time_elapse / 3600) / 8))

            label8 = tk.Label(text="Your total asset value is $" + str(round(asset, 2))
                            + ", your pay rate today is $" + str(round(pay_rate, 2)))
            label8.pack()

            asset = asset + wage

            #   entry in log book

            f = open("/Users/minhpham/Desktop/Work/Python/clock_in/book_keeping.txt", "a")

            f.write("\nEnd time:    " + time.ctime())
            f.write("\nTotal work time:    " + str(round(hours)) + " hours " + str(round(minutes))
                    + " minutes")
            f.write("\nMoney earned:    $" + str(round(wage, 2)))
            f.write("\nPay rate:    $" + str(pay_rate))
            f.write("\nOwned:    $" + str(round(asset, 2)))

            f.close()

            #   entry in record book
            with open('/Users/minhpham/Desktop/Work/Python/clock_in/record.csv', "a") as file:
                writer = csv.writer(file)
                writer.writerow({float(pay_rate)})
                writer.writerow({asset})
                file.close()

            a += 1


label1 = tk.Label(text="Please clock in")
entry = tk.Entry()
button = tk.Button(root, text="Enter", command=clockin)


def delete():
    label2.pack_forget()
    label4.pack_forget()
    label5.pack_forget()
    label6.pack_forget()
    label7.pack_forget()
    label8.pack_forget()


label1.pack()
entry.pack()
button.pack()
button_delete = tk.Button(root, text="Delete", command=delete)
button_delete.pack()
root.mainloop()

print("Program stopped")

Program stopped

In [5]:
import tkinter as tk

root = tk.Tk()

a = 0

def clockin():
    
    global a, label1, label2
    
    if a == 0:
        print("1")
        label1 = tk.Label(text = "Start")
        label1.pack()
        
        a+=1
        
    elif (a % 2 == 0) & (a>0):
        print("3")
        label1.pack_forget()
        label2.pack_forget()
        
        label1 = tk.Label(text = "Start New")
        label1.pack()
        
        a+=1
        
    elif a % 2 == 1:
        print("2")
        label2 = tk.Label(text = "End")
        label2.pack()
        
        a+=1
        

button = tk.Button(command = clockin)
button.pack()

root.mainloop()

1
2
3
2
3
2
3
2
3
2
3
2
3
2
3
2
3
2
3
2
3

In [15]:
a = 0
for n in range(10):

    if a ==0:
        print("1")
        a+=1

    elif (a % 2 == 0) & (a>0):
        print("3")
        a+=1

    elif a % 2 == 1:
        print("2")
        a+=1

1
2
3
2
3
2
3
2
3
2

In [14]:
a = 2
(a%2 == 0) & (a > 0)

True

In [13]:
a>0

True

In [10]:
import tkinter as tk

root = tk.Tk()

entry = tk.Entry(text = "Enter Password", )
entry.pack()

def a():
    length = len(entry.get())
    entry.delete(0, length)
    
button = tk.Button(text = "Click Here", command = a)
button.pack()

root.mainloop()

In [44]:
import pandas as pd
df_name = "/Users/minhpham/Desktop/Work/Python/clock_in/clock_in_df.csv"

df = pd.read_csv(df_name)

In [14]:
for i in range(12):
    if "2020-06-09" in df.iloc[i]["start_time"]:
        print("True")

True
True
True
True
True

In [40]:
df = df.set_index('start_time')

In [19]:
pd.Timestamp('2020-06-08 13:50:01') > pd.Timestamp('2020-06-09 12:13:36')

False

In [35]:
df.between_time('0:15', '0:45')

TypeError: Index must be DatetimeIndex

In [31]:
pd.Timestamp('2020-06-08 13:50:01')

pandas._libs.tslibs.timestamps.Timestamp

In [37]:
i = pd.date_range('2018-04-09', periods=4, freq='1D20min')
ts = pd.DataFrame({'A': [1, 2, 3, 4]}, index=i)

In [53]:
pd.to_datetime(df["start_time"], format='%Y-%m-%d')

ValueError: time data 0 doesn't match format specified

In [47]:
df

,start_time,end_time,work_time,pay_rate,money_made,asset
0,0,0.0,0.000000,10.500000,0.000000,3554.760000
1,2020-06-08 13:50:01,2020-06-08 14:22:12,0.536408,10.501688,5.633188,3560.393188
2,2020-06-08 19:09:29,2020-06-08 20:15:14,1.095836,10.505137,11.511902,3571.905090
3,2020-06-09 10:10:29,2020-06-09 11:22:24,1.198552,10.508910,12.595471,3584.500561
4,2020-06-09 12:13:36,2020-06-09 12:44:08,0.508817,10.510512,5.347924,3589.848486
5,2020-06-09 13:47:34,2020-06-09 14:00:17,0.211913,10.511180,2.227461,3592.075946
6,2020-06-09 14:10:00,2020-06-09 16:03:17,1.888126,10.517128,19.857659,3611.933605
7,2020-06-09 16:59:43,2020-06-09 17:04:13,0.074904,10.517364,0.787793,3612.721399
8,2020-06-10 10:43:35,2020-06-10 11:48:37,1.083718,10.520780,11.401554,3624.122953
9,2020-06-10 11:52:49,2020-06-10 12:25:53,0.551103,10.522518,5.798996,3629.921949
10,2020-06-10 12:46:36,2020-06-10 14:55:16,2.144292,10.529281,22.577851,3652.499800
11,2020-06-10 15:00:38,2020-06-10 15:21:50,0.353357,10.530396,3.720988,3656.220788

In [118]:
import pandas as pd
df_name = "/Users/minhpham/Desktop/Work/Python/clock_in/clock_in_df.csv"

df = pd.read_csv(df_name)

df = df.set_index('start_time')

df.index = pd.to_datetime(df.index, format='%Y-%m-%d')

In [119]:
df

,end_time,work_time,pay_rate,money_made,asset
start_time,,,,,
2020-01-01 00:00:00,2020-01-01 00:00:01,0.000000,10.500000,0.000000,3554.760000
2020-06-08 13:50:01,2020-06-08 14:22:12,0.536408,10.501688,5.633188,3560.393188
2020-06-08 19:09:29,2020-06-08 20:15:14,1.095836,10.505137,11.511902,3571.905090
2020-06-09 10:10:29,2020-06-09 11:22:24,1.198552,10.508910,12.595471,3584.500561
2020-06-09 12:13:36,2020-06-09 12:44:08,0.508817,10.510512,5.347924,3589.848486
2020-06-09 13:47:34,2020-06-09 14:00:17,0.211913,10.511180,2.227461,3592.075946
2020-06-09 14:10:00,2020-06-09 16:03:17,1.888126,10.517128,19.857659,3611.933605
2020-06-09 16:59:43,2020-06-09 17:04:13,0.074904,10.517364,0.787793,3612.721399
2020-06-10 10:43:35,2020-06-10 11:48:37,1.083718,10.520780,11.401554,3624.122953
2020-06-10 11:52:49,2020-06-10 12:25:53,0.551103,10.522518,5.798996,3629.921949
2020-06-10 12:46:36,2020-06-10 14:55:16,2.144292,10.529281,22.577851,3652.499800
2020-06-10 15:00:38,2020-06-10 15:21:50,0.353357,10.530396,3.720988,3656.220788
2020-06-10 18:32:47,2020-06-10 19:33:16,1.008053,10.533577,10.618399,3666.839187
2020-06-10 19:35:00,2020-06-10 19:50:00,0.250000,10.534366,2.633591,3669.472779

In [70]:
df.index = pd.to_datetime(df.index, format='%Y-%m-%d')

In [91]:
df.between_time(datetime.datetime(2020, 6, 9), datetime.datetime(2020, 6, 10))

ValueError: Cannot convert arg [datetime.datetime(2020, 6, 9, 0, 0)] to a time

In [96]:
df.loc['2020-6-9 00:00:00':'2020-6-10 00:00:00']

,end_time,work_time,pay_rate,money_made,asset
start_time,,,,,
2020-06-09 10:10:29,2020-06-09 11:22:24,1.198552,10.508910,12.595471,3584.500561
2020-06-09 12:13:36,2020-06-09 12:44:08,0.508817,10.510512,5.347924,3589.848486
2020-06-09 13:47:34,2020-06-09 14:00:17,0.211913,10.511180,2.227461,3592.075946
2020-06-09 14:10:00,2020-06-09 16:03:17,1.888126,10.517128,19.857659,3611.933605
2020-06-09 16:59:43,2020-06-09 17:04:13,0.074904,10.517364,0.787793,3612.721399

In [87]:
date

datetime.datetime(2012, 2, 3, 0, 0)

In [114]:
import datetime

start_date = datetime.date(2020, 6, 8)
end_date = datetime.date(2020, 6, 11)
delta = datetime.timedelta(days=1)

while start_date <= end_date:
    print(start_date)
    print(df.loc[start_date:(start_date+delta)]['money_made'].sum())
    
    money = df.loc[start_date:(start_date+delta)]['money_made'].sum()
    
    df2.loc[start_date] = [money]
    start_date += delta

2020-06-08
17.145090171925332
2020-06-09
40.81630843186892
2020-06-10
43.499389288332154
2020-06-11
0.0

In [99]:
start_date = datetime.date(2020, 1, 1)
end_date = datetime.date(2020, 1, 4)
delta = datetime.timedelta(days=1)

In [100]:
start_date += delta

In [107]:
df2 = pd.DataFrame([], columns = ['Date', 'Money Made'])

In [108]:
df2 = pd.DataFrame([], columns = ['Date', 'Money Made'])
df2 = df2.set_index('Date')

In [111]:
df2

Empty DataFrame
Columns: [Money Made]
Index: []

In [113]:
df

,end_time,work_time,pay_rate,money_made,asset
start_time,,,,,
2020-01-01 00:00:00,2020-01-01 00:00:01,0.000000,10.500000,0.000000,3554.760000
2020-06-08 13:50:01,2020-06-08 14:22:12,0.536408,10.501688,5.633188,3560.393188
2020-06-08 19:09:29,2020-06-08 20:15:14,1.095836,10.505137,11.511902,3571.905090
2020-06-09 10:10:29,2020-06-09 11:22:24,1.198552,10.508910,12.595471,3584.500561
2020-06-09 12:13:36,2020-06-09 12:44:08,0.508817,10.510512,5.347924,3589.848486
2020-06-09 13:47:34,2020-06-09 14:00:17,0.211913,10.511180,2.227461,3592.075946
2020-06-09 14:10:00,2020-06-09 16:03:17,1.888126,10.517128,19.857659,3611.933605
2020-06-09 16:59:43,2020-06-09 17:04:13,0.074904,10.517364,0.787793,3612.721399
2020-06-10 10:43:35,2020-06-10 11:48:37,1.083718,10.520780,11.401554,3624.122953
2020-06-10 11:52:49,2020-06-10 12:25:53,0.551103,10.522518,5.798996,3629.921949
2020-06-10 12:46:36,2020-06-10 14:55:16,2.144292,10.529281,22.577851,3652.499800
2020-06-10 15:00:38,2020-06-10 15:21:50,0.353357,10.530396,3.720988,3656.220788

In [115]:
df2

            Money Made
Date
2020-06-08   17.145090
2020-06-09   40.816308
2020-06-10   43.499389
2020-06-11    0.000000