In [10]:
import pandas as pd
import numpy as np
import time

In [6]:
clock_in = pd.DataFrame([], columns = ["work_time", "money_made"], index = date_index)

In [101]:
int(time.time()%86400)

64327

In [102]:
time.ctime(date)

'Sat May 30 00:00:01 2020'

In [7]:
date = int(time.time())-int((time.time()%(24*60*60)))+(7*60*60) # Timezone difference

In [8]:
date_index = []
for n in range(10):
    date_index.append(time.ctime(date + n * (24*60*60)))

In [9]:
work_time = [i for i in range(10)]
money_made = [(2*i) for i in range(10)]

In [10]:
clock_in.index = date_index

ValueError: Length mismatch: Expected axis has 0 elements, new values have 10 elements

In [159]:
clock_in["work_time"] = work_time
clock_in["money_made"] = money_made

In [147]:
def today():
    now = time.time()
    date = (time.time()-(time.time()%(24*60*60)))+(7*60*60)+1 # Timezone difference
    while (now - date) >= 60*60*24:
        date + (60*60*24)
    
    today_date = time.ctime(date)
    return today_date

In [148]:
today()

'Sat May 30 00:00:01 2020'

In [149]:
clock_in['time.time'] = []

ValueError: Length of values does not match length of index

In [161]:
mask = (clock_in.index == 'Sat May 30 00:00:00 2020')

In [169]:
clock_in.loc['Sat May 30 00:00:00 2020', 'work_time'] += 5

In [170]:
clock_in

                          work_time  money_made
Sat May 30 00:00:00 2020          5           0
Sun May 31 00:00:00 2020          1           2
Mon Jun  1 00:00:00 2020          2           4
Tue Jun  2 00:00:00 2020          3           6
Wed Jun  3 00:00:00 2020          4           8
Thu Jun  4 00:00:00 2020          5          10
Fri Jun  5 00:00:00 2020          6          12
Sat Jun  6 00:00:00 2020          7          14
Sun Jun  7 00:00:00 2020          8          16
Mon Jun  8 00:00:00 2020          9          18

In [150]:
date = int(time.time())-int((time.time()%(24*60*60)))+(7*60*60)

In [1]:
# Start Working from here
import pandas as pd
import numpy as np
import time

# Next time work out how to implement everything in the DataFrame

In [2]:
date_index

NameError: name 'date_index' is not defined

In [3]:
clock_in = pd.DataFrame(clock_in, columns = ["work_time", "money_made", "asset", "pay_rate"], index = date_index)

NameError: name 'clock_in' is not defined

In [4]:
date_index = [time.ctime(date + i * (24*60*60)) for i in range(20)]

NameError: name 'date' is not defined

In [184]:
clock_in.describe()

       work_time money_made asset pay_rate
count          0          0     0        0
unique         0          0     0        0
top          NaN        NaN   NaN      NaN
freq         NaN        NaN   NaN      NaN

# Clock In Fix New

In [2]:
import pandas as pd
import numpy as np
import time

Build empty data frame, then each date and their data is added individually and then the dataframe is concatenated to the general dataframe

In [3]:
df = pd.DataFrame([], columns = ["work_time", "money_made", "pay_rate", "asset"])
df.index.name ="Date"

Check to see if DataFrame is built

In [4]:
df

Empty DataFrame
Columns: [work_time, money_made, pay_rate, asset]
Index: []

Use to set new date and to check date

In [5]:
date = str(time.localtime().tm_mday)+"/"+str(time.localtime().tm_mon)+"/"+str(time.localtime().tm_year) # dd/mm/yy

If date does not exist, it is a new date and the the date is added, if it exist, add "work_time" and "money_made" to all the existing values

First create mask

In [6]:
mask = (df.index == date)

Then apply mask to determine whether it is necessary to create a new cell

In [7]:
work_time = 0
money_made = 0
pay_rate = 10.408244281687507
asset = 3104.41

In [8]:
for n in range(1):
    mask = (df.index == date)

    if not mask.any():
        print("a")
        df = df.append(pd.Series({
        'work_time': work_time,
        'money_made': money_made,
        'pay_rate' : pay_rate,
        'asset' : asset
        }, name=date, dtype = np.float64))

    else:
        df.loc[date]["work_time"] += work_time
        df.loc[date]["money_made"] += money_made
        df.loc[date]["pay_rate"] += pay_rate
        df.loc[date]["asset"] += asset

a

In [9]:
df # Expected "work_time" : 8, "money_made": 4

          work_time  money_made   pay_rate    asset
Date
5/6/2020        0.0         0.0  10.408244  3104.41

Add DataFrame to csv

In [10]:
df_name = "/Users/minhpham/Desktop/Work/Python/clock_in/clock_in_df.csv"
df.to_csv(df_name)

Open existing DataFrame

In [138]:
df = pd.read_csv(df_name)

Check if DataFrame is configured correctly

In [139]:
df

                       Date  work_time  money_made  pay_rate    asset
0  Tue Jun  2 00:00:00 2020        0.0         0.0      10.4  3032.04

In [144]:
df.set_index('Date', inplace=True)

Run through the code all again

In [105]:
date = round(time.time()-time.time()%(24*60*60)) + (7*60*60) # Timezone difference
date = time.ctime(date)

for n in range(3):
    mask = (df.index == date)

    if not mask.any():
        print("a")
        df = df.append(pd.Series({
        'work_time': time_elapse,
        'money_made': wage,
        }, name=date))

    else:
        df.loc[date]["work_time"] = float(df.loc[date]["work_time"]) + time_elapse
        
        df.loc[date]["money_made"] = float(df.loc[date]["money_made"]) + wage

print(df)

df.to_csv(df_name)

                          work_time  money_made  pay_rate  asset
Date
Tue Jun  2 00:00:00 2020       36.0        48.0      24.0    0.0

In [32]:
df_name = "/Users/minhpham/Desktop/Work/Python/clock_in/clock_in_df.csv"
df.to_csv(df_name)

In [28]:
float(df.loc[date]["money_made"])

4.0

In [34]:
date = round(time.time()-time.time()%(24*60*60)) - (17*60*60) # Timezone difference
date = time.ctime(date)

In [51]:
date = round(time.time()-time.time()%(24*60*60)) + (7*60*60)

In [52]:
date = time.ctime(date)

In [53]:
date

'Tue Jun  2 00:00:00 2020'

In [41]:
time.time()

1591123137.1969159

In [42]:
round(time.time()-time.time()%(24*60*60)) - (17*60*60)

1590994800

In [70]:
df.tail()[]

Date
Tue Jun  2 00:00:00 2020   NaN
Name: pay_rate, dtype: float64

In [97]:
df.loc[date]["pay_rate"] = 0

In [104]:
df.loc[date]["asset"] = 0

In [140]:
df

                       Date  work_time  money_made  pay_rate    asset
0  Tue Jun  2 00:00:00 2020        0.0         0.0      10.4  3032.04

In [141]:
df_name = "/Users/minhpham/Desktop/Work/Python/clock_in/clock_in_df.csv"

In [142]:
df = pd.read_csv(df_name)

In [145]:
df

                            work_time  money_made  pay_rate        asset
Date
Tue Jun  2 00:00:00 2020  3753.612308   10.843769  10.40325  3042.883769

In [147]:
df.loc['worktime']

KeyError: 'worktime'

In [11]:
date = round(time.time()-time.time()%(24*60*60)) - (17*60*60) # Timezone difference
date = time.ctime(date)

In [12]:
date

'Wed Jun  3 00:00:00 2020'

In [1]:
# Remember to redirect to the right file

import tkinter as tk
import time
import csv
import numpy as np
import pandas as pd
import math

root = tk.Tk()

a = 0

def save(start, end):
    
    #After first DataFrame has been created
    
    df_name = "/Users/minhpham/Desktop/Work/Python/clock_in/clock_in_df.csv"
    df = pd.read_csv(df_name)
    
    df = df.set_index('start_time')

    start_time = pd.to_datetime(time.ctime(start))
    end_time = pd.to_datetime(time.ctime(end))
    work_time = (end-start)/3600
    pay_rate = df.iloc[-1]['pay_rate']*math.pow(1.0024,(work_time/8))
    money_made = pay_rate*work_time
    asset = df.iloc[-1]['asset'] + money_made
    
    # pandas .csv save
    df.loc[start_time] = [end_time, work_time, pay_rate, money_made, asset]
    
    df.to_csv(df_name)
    
    
    # .txt file save
    
    txt_name = "/Users/minhpham/Desktop/Work/Python/clock_in/testing.txt"
    
    f = open(txt_name, "a")
    f.write("\n\n" + time.ctime(start))
    f.write("\nStart time:    " + time.ctime(start))
    f.write("\nEnd time:    " + time.ctime(end))

    # work_time in hours
    hours = int(work_time) # hours
    minutes = int((work_time - int(work_time)) * 60) # minutes

    f.write("\nTotal work time:    " + str(round(hours)) + " hours " + str(round(minutes))
                    + " minutes")
    f.write("\nMoney earned:    $" + str(round(money_made, 2)))
    f.write("\nPay rate:    $" + str(pay_rate))
    f.write("\nOwned:    $" + str(round(asset, 2)))
    
    f.close()
    
    # Return information for tkinter
    # save tuple[ 0: hours, 1: minutes, 2: money_made, 3: asset, 4: pay_rate ] 
    
    return hours, minutes, money_made, asset, pay_rate

def clockin():
    global a, start, end, label2, label4, label5, label6, label7, label8
    
    df_name = "/Users/minhpham/Desktop/Work/Python/clock_in/clock_in_df.csv"
    df = pd.read_csv(df_name)

    password = "Epsilon5"

    if a == 0:

        mdp = entry.get()
        start = time.time()
        label2 = tk.Label(text="")
        label2.pack()
        if str(mdp) == str(password):
            label4 = tk.Label(text="You clock in at " + time.ctime(start))
            label4.pack()
            label5 = tk.Label(text="Your total asset value is $" + str(round(df.iloc[-1]['asset'], 2))
                                   + ", your pay rate today is $" + str(round(df.iloc[-1]['pay_rate'], 2)))
            label5.pack()

            a += 1

    elif (a % 2 == 0) & (a > 0):

        label2.pack_forget()
        label4.pack_forget()
        label5.pack_forget()
        label6.pack_forget()  # Turn off clock out
        label7.pack_forget()
        label8.pack_forget()

        mdp = entry.get()
        start = time.time()
        label2 = tk.Label(text="")
        label2.pack()
        if str(mdp) == str(password):
            label4 = tk.Label(text="You clock in at " + time.ctime())
            label4.pack()
            label5 = tk.Label(text="Your total asset value is $" + str(round(df.iloc[-1]['asset'], 2))
                                   + ", your pay rate today is $" + str(round(df.iloc[-1]['pay_rate'], 2)))
            label5.pack()

            a += 1

    elif a % 2 == 1:

        mdp = entry.get()
        if str(mdp) == str(password):
            label6 = tk.Label(text="You clock out at " + time.ctime())
            label6.pack()

            end = time.time()
            
            #file entry
            save_tuple = save(start, end)

            label7 = tk.Label(text="You've worked for " 
                                + str(save_tuple[0]) + " hours and " 
                                + str(round(save_tuple[1])) 
                                +" minutes and earned $" 
                                + str(round(save_tuple[2], 2)))
            label7.pack()

            label8 = tk.Label(text="Your total asset value is $" + str(round(save_tuple[3], 2))
                                   + ", your pay rate today is $" + str(round(save_tuple[4], 2)))
            label8.pack()

            a += 1


label1 = tk.Label(text="Please clock in")
entry = tk.Entry()
button = tk.Button(root, text="Enter", command=clockin)

label1.pack()
entry.pack()
button.pack()
root.mainloop()

print("Program stopped")


# Function to manually input
'''import pandas as pd
import time
import numpy as np
import math

df_name = "/Users/minhpham/Desktop/Work/Python/clock_in/clock_in_df.csv"
df = pd.read_csv(df_name)

date = round(time.time() - time.time() % (24 * 60 * 60)) + (7 * 60 * 60)  # Timezone difference
date = time.ctime(date)

hours = float(input("Input hours   "))
minutes = float(input("Input minutes   "))
work_time = hours + minutes/60
pay_rate = df.tail(1)['pay_rate'].values
money_made = work_time * pay_rate
pay_rate = pay_rate * math.pow(1.0024, (work_time / 8))
df.loc[date]['pay_rate'] = pay_rate
df.loc[date]['work_time'] += work_time
df.loc[date]['money_made'] += money_made
df.loc[date]['asset'] += money_made

df.to_csv(df_name)
print(df)'''

Duplicate key in file '/Users/minhpham/.matplotlib/matplotlibrc' line #2.
Duplicate key in file '/Users/minhpham/.matplotlib/matplotlibrc' line #3.

Program stopped

'import pandas as pd\nimport time\nimport numpy as np\nimport math\n\ndf_name = "/Users/minhpham/Desktop/Work/Python/clock_in/clock_in_df.csv"\ndf = pd.read_csv(df_name)\n\ndate = round(time.time() - time.time() % (24 * 60 * 60)) + (7 * 60 * 60)  # Timezone difference\ndate = time.ctime(date)\n\nhours = float(input("Input hours   "))\nminutes = float(input("Input minutes   "))\nwork_time = hours + minutes/60\npay_rate = df.tail(1)[\'pay_rate\'].values\nmoney_made = work_time * pay_rate\npay_rate = pay_rate * math.pow(1.0024, (work_time / 8))\ndf.loc[date][\'pay_rate\'] = pay_rate\ndf.loc[date][\'work_time\'] += work_time\ndf.loc[date][\'money_made\'] += money_made\ndf.loc[date][\'asset\'] += money_made\n\ndf.to_csv(df_name)\nprint(df)'

In [12]:
time.localtime(1)

time.struct_time(tm_year=1969, tm_mon=12, tm_mday=31, tm_hour=16, tm_min=0, tm_sec=1, tm_wday=2, tm_yday=365, tm_isdst=0)

In [ ]:
import pandas as pd

# Initial Data Frame
df = pd.DataFrame([], 
                  columns = ['start_time', 'end_time', 'work_time', 'pay_rate', 'money_made', 'asset'])


df.name = "Clock in DataFrame"
df = df.set_index('start_time')

df.loc[0] = [0, 0, 10.5, 0, 3534.76]  #['end_time', 'work_time', 'pay_rate', 'money_made', 'asset']

df_name = "/Users/minhpham/Desktop/Work/Python/clock_in/clock_in_df.csv"
df.to_csv(df_name)

In [ ]:
# Computer saved
import tkinter as tk
import time
import csv
import pandas as pd
import math

a = 0

#   record file to access the income and pay rate of the previous day (csv)
file = pd.read_csv('/Users/minhpham/Desktop/Work/Python/clock_in/record.csv')
df = pd.DataFrame(file).values
asset = float((df.item(-1)))
pay_rate = float((df.item(-2)))

root = tk.Tk()


def clockin():

    global clock_in, a, asset, pay_rate, label2, label4, label5, label6, label7, label8

    password = "Epsilon5"

    if a % 2 == 0:
        mdp = entry.get()
        clock_in = time.time()
        label2 = tk.Label(text="")
        label2.pack()
        if str(mdp) == str(password):
            label4 = tk.Label(text="You clock in at " + time.ctime())
            label4.pack()
            label5 = tk.Label(text="Your total asset value is $" + str(round(asset, 2))
                                    + ", your pay rate today is $" + str(round(pay_rate, 2)))
            label5.pack()

            #   log book for recording hours and pay rate (easier for human to read)
            f = open("/Users/minhpham/Desktop/Work/Python/clock_in/book_keeping.txt", "a")
            f.write("\n\n" + time.ctime())
            f.write("\nStart time:    " + time.ctime())

            f.close()

            a += 1

    else:
        mdp = entry.get()
        if str(mdp) == str(password):
            label6 = tk.Label(text="You clock out at " + time.ctime())
            label6.pack()

            clock_out = time.time()
            time_elapse = clock_out - clock_in
            hours = math.floor(time_elapse / 3600)
            minutes = (time_elapse / 60) - (hours * 60)

            wage = pay_rate * (time_elapse / 3600)

            label7 = tk.Label(text="You've worked for " + str(round(hours)) + " hours and " + str(round(minutes)) +
                                   " minutes and earned $" + str(round(wage, 2)))
            label7.pack()

            pay_rate = pay_rate * math.pow(1.0024, ((time_elapse / 3600) / 8))

            label8 = tk.Label(text="Your total asset value is $" + str(round(asset, 2))
                            + ", your pay rate today is $" + str(round(pay_rate, 2)))
            label8.pack()

            asset = asset + wage

            #   entry in log book

            f = open("/Users/minhpham/Desktop/Work/Python/clock_in/book_keeping.txt", "a")

            f.write("\nEnd time:    " + time.ctime())
            f.write("\nTotal work time:    " + str(round(hours)) + " hours " + str(round(minutes))
                    + " minutes")
            f.write("\nMoney earned:    $" + str(round(wage, 2)))
            f.write("\nPay rate:    $" + str(pay_rate))
            f.write("\nOwned:    $" + str(round(asset, 2)))

            f.close()

            #   entry in record book
            with open('/Users/minhpham/Desktop/Work/Python/clock_in/record.csv', "a") as file:
                writer = csv.writer(file)
                writer.writerow({float(pay_rate)})
                writer.writerow({asset})
                file.close()

            a += 1


label1 = tk.Label(text="Please clock in")
entry = tk.Entry()
button = tk.Button(root, text="Enter", command=clockin)


def delete():
    label2.pack_forget()
    label4.pack_forget()
    label5.pack_forget()
    label6.pack_forget()
    label7.pack_forget()
    label8.pack_forget()


label1.pack()
entry.pack()
button.pack()
button_delete = tk.Button(root, text="Delete", command=delete)
button_delete.pack()
root.mainloop()

print("Program stopped")